<div class="container">
  <h1>My Toy App</h1>
  <h2>Read, share, contribute on any topic</h2>
  <%= link_to 'New User', new_user_path %>
</div>

<div class="container">
  <p id="notice"><%= notice %></p>
  <h1>All our contributors</h1>
  <% @users.each do |user| %>
    <div class="card-product">
      <img src="https://source.unsplash.com/featured/?nature"/>
      <div class="card-product-infos">
        <%= user.name %>
        <%= user.email %>
        <%= link_to 'Show', user %>
        <%= link_to 'Edit', edit_user_path(user) %>
        <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  <% end %>
</div>
