<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>First Post:</strong>
  <%= link_to @user.micropost.first.content, @user.micropost.first%>
</p>

<p>
  <strong>Old Posts:</strong>
  <% @user.micropost.each do |post|%>
    <% if post != @user.micropost[0] %>
      <ul>
        <li><%= link_to post.content, post %>
            <%= link_to 'Destroy', post, method: :delete, data: { confirm: "Are you sure ?" } %>
            <%= link_to 'Edit', edit_micropost_path(post) %>
        </li>
      </ul>
    <% end %>
  <% end %>
</p>



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
